<div class="elementor-element elementor-element-3afa83e elementor-widget elementor-widget-heading" data-id="3afa83e"
    data-element_type="widget" data-widget_type="heading.default">
    <div class="elementor-widget-container">
        <h4 class="elementor-heading-title elementor-size-default">
            Pengendalian/Pengobatan Hayati dan Kimiawi
        </h4>
    </div>
</div>
<div class="elementor-element elementor-element-0960c9d elementor-widget elementor-widget-text-editor" data-id="0960c9d"
    data-element_type="widget" data-widget_type="text-editor.default">
    <div class="elementor-widget-container">
        <p>
            Pengendalian Hayati:
            <br />
            a. Penggunaan Organisme Pengganggu Hama (OPH): Beberapa OPH,
            seperti larva predator, parasitoid, dan nematoda parasitik,
            dapat digunakan untuk mengendalikan populasi hama tanaman
            padi. OPH bekerja dengan memangsa atau menginfeksi hama,
            sehingga membantu mengurangi kerusakan pada tanaman padi.
            <br />
            b. Penggunaan Mikroorganisme Antagonis: Bakteri dan jamur
            antagonis dapat diaplikasikan ke tanah atau daun tanaman padi
            untuk melawan patogen penyebab penyakit, seperti blast, hawar
            daun, dan busuk batang.
            <br />
            <br />
            Pengendalian Kimiawi:
            <br />
            a. Pestisida: Penggunaan pestisida dapat menjadi pilihan
            terakhir jika serangan hama atau penyakit sudah berada pada
            tingkat yang mengancam hasil panen. Penggunaan pestisida harus
            dilakukan dengan hati-hati sesuai dosis dan rekomendasi yang
            telah ditetapkan.
        </p>
    </div>
</div>