<div class="elementor-element elementor-element-6364516 elementor-widget elementor-widget-heading" data-id="6364516"
    data-element_type="widget" data-widget_type="heading.default">
    <div class="elementor-widget-container">
        <h4 class="elementor-heading-title elementor-size-default">
            Penyebab Terkena Hama dan Penyakit
        </h4>
    </div>
</div>
<div class="elementor-element elementor-element-b4aa0f3 elementor-widget elementor-widget-text-editor" data-id="b4aa0f3"
    data-element_type="widget" data-widget_type="text-editor.default">
    <div class="elementor-widget-container">
        Hama: Beberapa hama umum pada tanaman padi antara lain wereng,
        penggerek batang, tikus sawah, dan ulat grayak. Hama-hama ini
        merusak bagian tanaman seperti akar, batang, daun, dan malai
        padi. Penyakit: Tanaman padi rentan terhadap berbagai penyakit
        seperti blast (pijam padi), hawar daun, busuk batang, dan karat
        padi. Penyakit-penyakit ini disebabkan oleh patogen seperti
        jamur, bakteri, dan virus, yang menyerang tanaman padi pada
        berbagai tahap pertumbuhan.
    </div>
</div>