<div class="elementor-element elementor-element-3afa83e elementor-widget elementor-widget-heading" data-id="3afa83e"
    data-element_type="widget" data-widget_type="heading.default">
    <div class="elementor-widget-container">
        <h4 class="elementor-heading-title elementor-size-default">
            Gejala :
        </h4>
    </div>
</div>
<div class="elementor-element elementor-element-0960c9d elementor-widget elementor-widget-text-editor" data-id="0960c9d"
    data-element_type="widget" data-widget_type="text-editor.default">
    <div class="elementor-widget-container">
        <p>
            Gejala penyakit blas pada padi meliputi:</br>
            1. Pengaruh pada seluruh bagian tanaman di atas permukaan tanah, termasuk daun, helai daun, ruas, batang,
            buah padi (malai), dan kadang-kadang pelepah daun.</br>
            2. Daun menunjukkan bercak klorotik dengan warna kuning hingga hijau muda, berbentuk batang atau elips,
            dengan luka nekrotik berwarna abu-abu hingga putih di tengahnya.</br>
            3. Ukuran luka bervariasi tergantung pada usia tanaman, varietas, dan waktu infeksi.</br>
            4. Saat luka berkembang, daun secara bertahap mengering.</br>
            5. Infeksi pada sambungan daun dan pelepah dapat menyebabkan busuk pada helai daun, dan daun di atas
            sambungan akan mati.</br>
            6. Ruas tanaman juga dapat terinfeksi, menyebabkan ruas-ruas berubah menjadi coklat dan batang mengalami
            kerusakan, terkadang mengakibatkan kematian bibit atau tanaman muda.</br>
            7. Pada tahap pertumbuhan selanjutnya, infeksi blas daun yang parah dapat mengurangi luas daun, mengganggu
            pengisian bulir, dan mengurangi hasil gabah.</br>
            8. Penyakit blas pada padi merupakan salah satu penyakit yang paling merusak bagi tanaman padi.
        </p>
    </div>
</div>