<div class="elementor-element elementor-element-6364516 elementor-widget elementor-widget-heading"
data-id="6364516" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
    <h4 class="elementor-heading-title elementor-size-default">
        Tindakan untuk Pencegahan :
    </h4>
</div>
</div>
<div class="elementor-element elementor-element-b4aa0f3 elementor-widget elementor-widget-text-editor"
data-id="b4aa0f3" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
    <li class="elementor-icon-list-item">
        <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-check-light"></i>
        </span>
        <span class="elementor-icon-list-text" style="color: #112E10C2;">Gunakan benih yang
            sehat atau
            bersertifikat.</span>
    </li>
    <li class="elementor-icon-list-item">
        <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-check-light"></i>
        </span>
        <span class="elementor-icon-list-text" style="color: #112E10C2;">Tanam varietas padi
            yang tangguh
            dan sesuai dengan kondisi daerah.</span>
    </li>
    <li class="elementor-icon-list-item">
        <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-check-light"></i>
        </span>
        <span class="elementor-icon-list-text" style="color: #112E10C2;">Taburkan benih pada
            awal musim,
            setelah awal musim hujan.</span>
    </li>
    <li class="elementor-icon-list-item">
        <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-check-light"></i>
        </span>
        <span class="elementor-icon-list-text" style="color: #112E10C2;">Hindari pemberian
            nitrogen
            berlebihan dan pisahkan pemberiannya menjadi dua kali atau
            lebih.</span>
    </li>
    <li class="elementor-icon-list-item">
        <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-check-light"></i>
        </span>
        <span class="elementor-icon-list-text" style="color: #112E10C2;">Hindari stres
            kekeringan pada
            tanaman dengan memberikan irigasi yang teratur.</span>
    </li>
    <li class="elementor-icon-list-item">
        <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-check-light"></i>
        </span>
        <span class="elementor-icon-list-text" style="color: #112E10C2;">Pertahankan tinggi
            genangan yang
            tepat agar padi dapat tumbuh dengan baik.</span>
    </li>
    <li class="elementor-icon-list-item">
        <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-check-light"></i>
        </span>
        <span class="elementor-icon-list-text" style="color: #112E10C2;">Jaga stabilitas
            pengairan dan
            hindari drainase yang berlebihan di sawah.</span>
    </li>
    <li class="elementor-icon-list-item">
        <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-check-light"></i>
        </span>
        <span class="elementor-icon-list-text" style="color: #112E10C2;">Lakukan pengendalian
            gulma dan
            inang alternatif secara terus-menerus.</span>
    </li>
    <li class="elementor-icon-list-item">
        <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-check-light"></i>
        </span>
        <span class="elementor-icon-list-text" style="color: #112E10C2;">Gunakan pupuk silikon
            jika
            tanahnya diketahui kekurangan silikon.</span>
    </li>
    <li class="elementor-icon-list-item">
        <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-check-light"></i>
        </span>
        <span class="elementor-icon-list-text" style="color: #112E10C2;">Sumber silikon yang
            ekonomis dapat
            diperoleh dari jerami berbagai varietas padi dengan
            kandungan silikon tinggi.</span>
    </li>
    <li class="elementor-icon-list-item">
        <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-check-light"></i>
        </span>
        <span class="elementor-icon-list-text" style="color: #112E10C2;">Musnahkan seluruh sisa
            tanaman
            yang terinfeksi untuk mencegah perpindahan jamur di
            lahan.</span>
    </li>
    <li class="elementor-icon-list-item">
        <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-check-light"></i>
        </span>
        <span class="elementor-icon-list-text" style="color: #112E10C2;">Lakukan rotasi tanaman
            sebagai
            cara sederhana dan efektif untuk mengurangi populasi patogen
            penyakit.</span>
    </li>
</div>
</div>