<div class="elementor-element elementor-element-3afa83e elementor-widget elementor-widget-heading"
data-id="3afa83e" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
    <h4 class="elementor-heading-title elementor-size-default">
        Rekomendasi Pengendalian :
    </h4>
</div>
</div>
<div class="elementor-element elementor-element-0960c9d elementor-widget elementor-widget-text-editor"
data-id="0960c9d" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
    <p>
        <li class="elementor-icon-list-item">
            <span class="elementor-icon-list-text"
                style="color: #112E10C2;"><strong>A. Pengendalian Hayati :</strong><br />
                    - Belum ada kontrol biologis yang efektif secara komersial untuk melawan penyakit ini.</br>
                    - Sedang diuji produk dengan bakteri Streptomyces atau Pseudomonas untuk mengatasi jamur dan mengurangi penyebaran penyakit ini.</span>
        </li>
        <br />
        <li class="elementor-icon-list-item">
            <span class="elementor-icon-list-text"
                style="color: #112E10C2;"><strong>B. Pengendalian Kimiawi :</strong><br />
                    - Disarankan untuk mengadopsi pendekatan terpadu untuk mengendalikan penyakit blas pada padi.</br>
                    - Tindakan pencegahan bersama dengan perlakuan hayati jika tersedia dianjurkan.</br>
                    - Penggunaan thiram dalam perlakuan benih terbukti efektif melawan penyakit ini.</br>
                    - Fungisida yang mengandung azoksistrobin, triazol, atau strobilurin dapat disemprotkan pada tahap pembibitan, anakan, dan pertumbuhan malai untuk mengendalikan penyakit blas padi.</br>
                    - Memberikan fungisida satu atau dua kali pada tahap pertumbuhan malai juga efektif dalam mengendalikan penyakit ini.</br>
                    - Menggabungkan berbagai pendekatan ini dapat mencapai strategi pengendalian yang lebih holistik dan efektif terhadap penyakit blas pada padi.</span>
        </li>
    </p>
</div>
</div>