<div class="elementor-element elementor-element-6364516 elementor-widget elementor-widget-heading"
data-id="6364516" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
    <h4 class="elementor-heading-title elementor-size-default">
        Penyebab Terkena Hama dan Penyakit :
    </h4>
</div>
</div>
<div class="elementor-element elementor-element-b4aa0f3 elementor-widget elementor-widget-text-editor"
data-id="b4aa0f3" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
    Gejala blas pada padi disebabkan oleh jamur Magnaporthe grisea. Jamur ini juga dapat menyerang tanaman sereal lain seperti gandum, gandum hitam, jelai, dan jawawut mutiara. Dapat bertahan hidup di jerami setelah panen dan menyebar ke musim berikutnya. Tanaman biasanya lebih tahan terhadap penyakit ini saat mencapai kedewasaan. Faktor-faktor seperti suhu dingin, curah hujan tinggi, dan kelembaban rendah tanah mempengaruhi keberlangsungan penyakit ini. Kelembaban daun yang berlebihan juga mendukung infeksi. Pada padi gogo, risiko infeksi meningkat di titik-titik embun, terutama akibat perbedaan suhu siang dan malam yang besar. Tanaman dengan kadar nitrogen tinggi atau tingkat silikon rendah lebih rentan terhadap penyakit ini.
</div>
</div>