<div class="elementor-element elementor-element-8afc54e e-con-full e-flex e-con e-parent" data-id="8afc54e"
    data-element_type="container" data-settings='{"content_width":"full","background_background":"classic"}'
    data-core-v316-plus="true">
    <div class="elementor-element elementor-element-4d3373a e-con-full e-flex e-con e-child" data-id="4d3373a"
        data-element_type="container" data-settings='{"content_width":"full"}'>
        <div class="elementor-element elementor-element-d32df97 elementor-widget__width-auto e-transform elementor-widget elementor-widget-heading"
            data-id="d32df97" data-element_type="widget"
            data-settings='{"_transform_rotateZ_effect":{"unit":"px","size":-5,"sizes":[]},"_transform_rotateZ_effect_tablet":{"unit":"deg","size":"","sizes":[]},"_transform_rotateZ_effect_mobile":{"unit":"deg","size":"","sizes":[]}}'
            data-widget_type="heading.default">
            <div class="elementor-widget-container">
                <h6 class="elementor-heading-title elementor-size-default">Layanan Kami</h6>
            </div>
        </div>
        <div class="elementor-element elementor-element-3d67493 elementor-widget__width-initial elementor-widget-tablet__width-inherit elementor-widget elementor-widget-jkit_heading"
            data-id="3d67493" data-element_type="widget" data-widget_type="jkit_heading.default">
            <div class="elementor-widget-container">
                <div
                    class="jeg-elementor-kit jkit-heading align-center align-tablet- align-mobile- jeg_module_6_10_65596ee285f38">
                    <div class="heading-section-title display-inline-block">
                        <h2 class="heading-title">Solusi Web Modern untuk <span class="style-color"><span>Deteksi
                                    Penyakit Tanaman Padi</span></span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-element elementor-element-2042a89 e-con-full e-flex e-con e-child" data-id="2042a89"
            data-element_type="container" data-settings='{"content_width":"full"}'>
            <div class="elementor-element elementor-element-a87673d elementor-widget__width-initial elementor-widget-tablet__width-initial jkit-equal-height-disable elementor-widget elementor-widget-jkit_icon_box"
                data-id="a87673d" data-element_type="widget" data-widget_type="jkit_icon_box.default">
                <div class="elementor-widget-container">
                    <div
                        class="jeg-elementor-kit jkit-icon-box icon-position-top elementor-animation-float jeg_module_6_14_65596ee28c1f2">
                        <div class="jkit-icon-box-wrapper hover-from-left">
                            <div class="icon-box icon-box-body">
                                <h3 class="title">
                                    Deteksi Otomatis Penyakit Daun Padi
                                </h3>
                                <p class="icon-box-description">
                                    Aplikasi kami dilengkapi dengan algoritma yang mampu
                                    mendeteksi penyakit pada daun padi secara otomatis.
                                    Dengan mengambil gambar daun melalui perangkat seluler
                                    atau kamera, aplikasi kami akan menganalisis gambar
                                    tersebut dan memberikan hasil diagnosis penyakit yang
                                    mungkin terjad
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-a87673d elementor-widget__width-initial elementor-widget-tablet__width-initial jkit-equal-height-disable elementor-widget elementor-widget-jkit_icon_box"
                data-id="a87673d" data-element_type="widget" data-widget_type="jkit_icon_box.default">
                <div class="elementor-widget-container">
                    <div
                        class="jeg-elementor-kit jkit-icon-box icon-position-top elementor-animation-float jeg_module_6_14_65596ee28c1f2">
                        <div class="jkit-icon-box-wrapper hover-from-left">
                            <div class="icon-box icon-box-body">
                                <h3 class="title">
                                    Diagnosa Penyakit yang Akurat
                                </h3>
                                <p class="icon-box-description">
                                    Berkat penggunaan metode CNN, aplikasi kami dapat
                                    memberikan diagnosis penyakit dengan tingkat akurasi
                                    yang tinggi. Hal ini memungkinkan petani dan ahli
                                    pertanian di Kabupaten Tuban untuk mengambil tindakan
                                    yang tepat dan segera guna mencegah penyebaran
                                    penyakit dan kerugian yang lebih besar.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-a87673d elementor-widget__width-initial elementor-widget-tablet__width-initial jkit-equal-height-disable elementor-widget elementor-widget-jkit_icon_box"
                data-id="a87673d" data-element_type="widget" data-widget_type="jkit_icon_box.default">
                <div class="elementor-widget-container">
                    <div
                        class="jeg-elementor-kit jkit-icon-box icon-position-top elementor-animation-float jeg_module_6_14_65596ee28c1f2">
                        <div class="jkit-icon-box-wrapper hover-from-left">
                            <div class="icon-box icon-box-body">
                                <h3 class="title">Database Penyakit dan Solusi</h3>
                                <p class="icon-box-description">
                                    Kami menyediakan database penyakit yang lengkap
                                    beserta solusi dan rekomendasi pengobatan yang tepat.
                                    Pengguna dapat mengakses informasi ini melalui
                                    aplikasi kami, sehingga mereka memiliki sumber daya
                                    yang berguna untuk mengatasi penyakit pada tanaman
                                    padi.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>