<div class="elementor-element elementor-element-0e28aad e-flex e-con-boxed e-con e-parent" data-id="0e28aad"
    data-element_type="container" data-settings='{"background_background":"classic","content_width":"boxed"}'
    data-core-v316-plus="true">
    <div class="e-con-inner">
        <div class="elementor-element elementor-element-cace09e e-con-full e-flex e-con e-child" data-id="cace09e"
            data-element_type="container" data-settings='{"content_width":"full"}'>
            <div class="elementor-element elementor-element-057b0be jkit-sticky-element--enabled e-flex e-con-boxed jkit-sticky-element-on--down jkit-sticky-position--sticky e-con e-child"
                data-id="057b0be" data-element_type="container"
                data-settings='{"content_width":"boxed","jkit_sticky_device":"desktop","jkit_sticky_top_position":{"unit":"px","size":0,"sizes":[]}}'>
                <div class="e-con-inner">
                    <div class="elementor-element elementor-element-6a38695 elementor-widget__width-auto e-transform elementor-widget elementor-widget-heading"
                        data-id="6a38695" data-element_type="widget"
                        data-settings='{"_transform_rotateZ_effect":{"unit":"px","size":-5,"sizes":[]},"_transform_rotateZ_effect_tablet":{"unit":"deg","size":"","sizes":[]},"_transform_rotateZ_effect_mobile":{"unit":"deg","size":"","sizes":[]}}'
                        data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h6 class="elementor-heading-title elementor-size-default">FAQ</h6>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-0ee7135 elementor-widget__width-inherit elementor-widget elementor-widget-jkit_heading"
                        data-id="0ee7135" data-element_type="widget" data-widget_type="jkit_heading.default">
                        <div class="elementor-widget-container">
                            <div
                                class="jeg-elementor-kit jkit-heading align-left align-tablet- align-mobile- jeg_module_6_34_65596ee2d01b7">
                                <div class="heading-section-title display-inline-block">
                                    <h2 class="heading-title">Pertanyaan yang Sering <span
                                            class="style-color"><span>Diajukan</span></span></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-01eabac elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
                        data-id="01eabac" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p>Jika Anda tidak dapat menemukan jawaban atas pertanyaan Anda di FAQ kami, Anda selalu
                                dapat menghubungi kami atau mengirim pesan Whatsapp kepada kami. Kami akan menjawab Anda
                                segera!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-element elementor-element-231c2c5 e-con-full e-flex e-con e-child" data-id="231c2c5"
            data-element_type="container" data-settings='{"content_width":"full"}'>
            <div class="elementor-element elementor-element-4c137af elementor-widget elementor-widget-jkit_accordion"
                data-id="4c137af" data-element_type="widget" data-widget_type="jkit_accordion.default">
                <div class="elementor-widget-container">
                    <div class="jeg-elementor-kit jkit-accordion style-default jeg_module_6_35_65596ee2d4d92">
                        <div class="card-wrapper expand">
                            <div class="card-header">
                                <a href="#expand-db0c042" class="card-header-button" aria-expanded="false"
                                    data-target="#expand-db0c042" aria-controls="expand-db0c042">
                                    <span class="title">Apa itu Aplikasi Deteksi Penyakit
                                        Tanaman
                                        Padi?</span>
                                    <div class="right-icon-group">
                                        <div class="normal-icon">
                                            <i aria-hidden="true"><img src="static/assets/images/icons/arrow-down.png"
                                                    style="width: 16px;height: 16px;"></i>
                                        </div>
                                        <div class="active-icon">
                                            <i aria-hidden="true"> <img src="static/assets/images/icons/arrow-up.png"
                                                    style="width: 16px;height: 16px;"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="card-expand" id="expand-db0c042" style="display: block">
                                <div class="card-body">
                                    <p>
                                        Aplikasi Deteksi Penyakit Tanaman Padi adalah sebuah
                                        website yang menggunakan teknologi pengenalan gambar
                                        untuk mengidentifikasi penyakit yang mungkin
                                        terdapat pada tanaman padi.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-wrapper">
                            <div class="card-header">
                                <a href="#expand-ca31f7b" class="card-header-button" aria-expanded="false"
                                    data-target="#expand-ca31f7b" aria-controls="expand-ca31f7b">
                                    <span class="title">Bagaimana Cara Menggunakan
                                        Aplikasi Ini?</span>
                                    <div class="right-icon-group">
                                        <div class="normal-icon">
                                            <i aria-hidden="true"><img src="static/assets/images/icons/arrow-down.png"
                                                    style="width: 16px;height: 16px;"></i>
                                        </div>
                                        <div class="active-icon">
                                            <i aria-hidden="true"> <img src="static/assets/images/icons/arrow-up.png"
                                                    style="width: 16px;height: 16px;"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="card-expand" id="expand-ca31f7b" style="display: none">
                                <div class="card-body">
                                    <p>
                                        Anda hanya perlu memasukkan gambar tanaman padi yang
                                        ingin dianalisis ke dalam aplikasi, kemudian klik
                                        tombol 'Prediksi.' Aplikasi akan melakukan analisis
                                        dan memberikan hasilnya.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-wrapper">
                            <div class="card-header">
                                <a href="#expand-9050a0c" class="card-header-button" aria-expanded="false"
                                    data-target="#expand-9050a0c" aria-controls="expand-9050a0c">
                                    <span class="title">Bagaimana Aplikasi Ini Bekerja
                                        dalam Mendeteksi
                                        Penyakit Tanaman Padi?</span>
                                    <div class="right-icon-group">
                                        <div class="normal-icon">
                                            <i aria-hidden="true"><img src="static/assets/images/icons/arrow-down.png"
                                                    style="width: 16px;height: 16px;"></i>
                                        </div>
                                        <div class="active-icon">
                                            <i aria-hidden="true"> <img src="static/assets/images/icons/arrow-up.png"
                                                    style="width: 16px;height: 16px;"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="card-expand" id="expand-9050a0c" style="display: none">
                                <div class="card-body">
                                    <p>
                                        Aplikasi menggunakan algoritma pengenalan gambar
                                        yang telah dilatih dengan data penyakit tanaman
                                        padi. Ketika Anda memasukkan gambar, algoritma ini
                                        membandingkan gambar dengan database penyakit dan
                                        memberikan prediksi berdasarkan kesamaan visual.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-wrapper">
                            <div class="card-header">
                                <a href="#expand-93bb2f0" class="card-header-button" aria-expanded="false"
                                    data-target="#expand-93bb2f0" aria-controls="expand-93bb2f0">
                                    <span class="title">Seberapa Akurat Aplikasi Ini dalam
                                        Mendeteksi<br />
                                        Penyakit Tanaman Padi?</span>
                                    <div class="right-icon-group">
                                        <div class="normal-icon">
                                            <i aria-hidden="true"><img src="static/assets/images/icons/arrow-down.png"
                                                    style="width: 16px;height: 16px;"></i>
                                        </div>
                                        <div class="active-icon">
                                            <i aria-hidden="true"> <img src="static/assets/images/icons/arrow-up.png"
                                                    style="width: 16px;height: 16px;"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="card-expand" id="expand-93bb2f0" style="display: none">
                                <div class="card-body">
                                    <p>
                                        Tingkat akurasi aplikasi dapat bervariasi tergantung
                                        pada sejumlah faktor, termasuk kualitas gambar yang
                                        dimasukkan dan jumlah data pelatihan yang digunakan.
                                        Kami terus meningkatkan akurasi aplikasi ini.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>