<div class="elementor-element elementor-element-3afa83e elementor-widget elementor-widget-heading" data-id="3afa83e"
    data-element_type="widget" data-widget_type="heading.default">
    <div class="elementor-widget-container">
        <h4 class="elementor-heading-title elementor-size-default">
            Gejala
        </h4>
    </div>
</div>
<div class="elementor-element elementor-element-0960c9d elementor-widget elementor-widget-text-editor" data-id="0960c9d"
    data-element_type="widget" data-widget_type="text-editor.default">
    <div class="elementor-widget-container">
        <p>
            - Penyakit ini dapat diidentifikasi melalui sejumlah gejala, dengan tanda infeksi yang paling mencolok
            selama tahap pertumbuhan tanaman adalah adanya bercak-bercak coklat bundar atau oval dengan lingkaran
            kuning.</br>
            - Saat bercak-bercak tersebut berkembang, pusatnya akan berubah menjadi abu-abu di tengah-tengah, dan tepi
            coklat kemerahan akan terlihat.</br>
            - Perubahan warna pada batang juga menjadi ciri khas penyakit ini.</br>
            - Pada varietas yang rentan, luka dapat mencapai panjang 5-14 mm dan dapat menyebabkan layu pada daun.</br>
            - Sementara pada varietas yang tahan, luka berwarna kuning hingga kecoklatan dan berukuran sekitar kepala
            peniti.</br>
            - Infeksi pada kuntum dapat mengakibatkan pengisian bulir yang tidak sempurna atau terganggu, mengurangi
            kualitas gabah.
        </p>
    </div>
</div>