<div class="elementor-element elementor-element-6364516 elementor-widget elementor-widget-heading" data-id="6364516"
    data-element_type="widget" data-widget_type="heading.default">
    <div class="elementor-widget-container">
        <h4 class="elementor-heading-title elementor-size-default">
            Tindakan untuk Pencegahan
        </h4>
    </div>
</div>
<div class="elementor-element elementor-element-b4aa0f3 elementor-widget elementor-widget-text-editor" data-id="b4aa0f3"
    data-element_type="widget" data-widget_type="text-editor.default">
    <div class="elementor-widget-container">
        <li class="elementor-icon-list-item">
            <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="jki jki-check-light"></i>
            </span>
            <span class="elementor-icon-list-text" style="color: #112E10C2;">Jika tanah memiliki
                kandungan
                silikon
                rendah, tambahkan arang kalsium silikat sebelum melakukan penanaman.</span>
        </li>
        <li class="elementor-icon-list-item">
            <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="jki jki-check-light"></i>
            </span>
            <span class="elementor-icon-list-text" style="color: #112E10C2;">Usahakan mendapatkan
                benih dari
                sumber yang bersertifikat jika memungkinkan.</span>
        </li>
        <li class="elementor-icon-list-item">
            <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="jki jki-check-light"></i>
            </span>
            <span class="elementor-icon-list-text" style="color: #112E10C2;">Pilih varietas tanaman
                yang
                memiliki ketahanan terhadap penyakit, jika varietas tersebut tersedia di daerah
                Anda.</span>
        </li>
        <li class="elementor-icon-list-item">
            <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="jki jki-check-light"></i>
            </span>
            <span class="elementor-icon-list-text" style="color: #112E10C2;">Pastikan keseimbangan
                unsur hara di
                tanah dengan menyediakan pasokan unsur hara yang memadai, dan lakukan pemantauan
                secara teratur
                terhadap kondisi unsur hara di tanah.</span>
        </li>
        <li class="elementor-icon-list-item">
            <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="jki jki-check-light"></i>
            </span>
            <span class="elementor-icon-list-text" style="color: #112E10C2;">Awasi dengan cermat
                tanda-tanda
                penyakit sejak tahap anakan untuk mendeteksi kemungkinan infeksi penyakit sejak
                dini.</span>
        </li>
    </div>
</div>