<div class="elementor-element elementor-element-3afa83e elementor-widget elementor-widget-heading" data-id="3afa83e"
    data-element_type="widget" data-widget_type="heading.default">
    <div class="elementor-widget-container">
        <h4 class="elementor-heading-title elementor-size-default">
            Rekomendasi Pengendalian
        </h4>
    </div>
</div>
<div class="elementor-element elementor-element-0960c9d elementor-widget elementor-widget-text-editor" data-id="0960c9d"
    data-element_type="widget" data-widget_type="text-editor.default">
    <div class="elementor-widget-container">
        <p>
            <li class="elementor-icon-list-item">
                <span class="elementor-icon-list-text" style="color: #112E10C2;"><strong>1. Pengendalian
                        Hayati :</strong><br />
                    - Merendam benih dalam air panas dengan suhu antara 53 hingga 54 °C selama 10 hingga 12 menit.</br>
                    - Untuk hasil optimal, benih sebaiknya ditempatkan dalam air dingin selama 8 jam sebelum menjalani
                    perlakuan dengan air panas tersebut.</br>
                    - Penanaman varietas tahan</br>
                    - Pemupukan dengan 250 kg urea</br>
                    - 100 kg SP36</br>
                    - 100 kg KCL</br>
                </span>
            </li>
            <br />
            <li class="elementor-icon-list-item">
                <span class="elementor-icon-list-text" style="color: #112E10C2;"><strong>2. Pengendalian
                        Kimiawi :</strong><br />
                    - Pertimbangkan pendekatan terpadu dengan tindakan pencegahan dan perlakuan hayati jika tersedia.</br>
                    - Metode terbaik untuk mencegah penyakit ini adalah dengan menggunakan fungisida berbahan aktif
                    antara lain: tebukonazol, heksakonazol, belerang, tebukonazo + triflosistrobin, azoksistrobin +
                    difenokonazol. Propikonazol + prokloraz, difenokonazol + Propikonazol, tembaga, tiodozal,
                    metribuzin, mankozab, fenbukonazol, asam khloro bromo iso sianurit, propineb flupikolid, ziram dalam
                    perlakuan benih.
                </span>
            </li>
        </p>
    </div>
</div>