<div class="elementor-element elementor-element-3afa83e elementor-widget elementor-widget-heading" data-id="3afa83e"
    data-element_type="widget" data-widget_type="heading.default">
    <div class="elementor-widget-container">
        <h4 class="elementor-heading-title elementor-size-default">
            Penyebab Terkena Hama dan Penyakit
        </h4>
    </div>
</div>
<div class="elementor-element elementor-element-0960c9d elementor-widget elementor-widget-text-editor" data-id="0960c9d"
    data-element_type="widget" data-widget_type="text-editor.default">
    <div class="elementor-widget-container">
        <p>
            Gejala yang disebabkan oleh jamur Cochliobolus miyabeanus: </br>
            - Jamur ini dapat bertahan hidup dalam benih selama lebih dari empat tahun dan menyebar melalui spora yang
            tersebar di udara serta sisa-sisa tanaman terinfeksi yang tertinggal di lahan dan gulma.</br>
            - Bercak coklat dapat muncul pada semua tahap pertumbuhan tanaman, dengan infeksi yang paling kritis terjadi
            mulai dari tahap akhir anakan hingga pematangan.</br>
            - Penyakit ini umumnya lebih sering terjadi di lahan dengan manajemen kesuburan tanah yang kurang tepat,
            terutama dalam hal unsur hara mikro.</br>
            - Pengendalian yang efektif dapat dicapai dengan penggunaan pupuk silikon dan kombinasi pupuk kotoran ternak
            serta pupuk kimia untuk mengurangi tingkat keparahan penyakit.</br>
            - Faktor lingkungan seperti kelembaban tinggi (86 - 100%), periode kelembaban daun yang panjang, dan suhu
            tinggi (16 - 36 °C) sangat mendukung pertumbuhan jamur ini.
        </p>
    </div>
</div>