<div class="elementor-element elementor-element-34e669b elementor-widget elementor-widget-heading" data-id="34e669b"
    data-element_type="widget" data-widget_type="heading.default">
    <div class="elementor-widget-container">
        <style> .elementor-heading-title {padding: 0;margin: 0;line-height: 1;}.elementor-widget-heading .elementor-heading-title[class*="elementor-size-"]>a {color: inherit;font-size: inherit;line-height: inherit;}.elementor-widget-heading .elementor-heading-title.elementor-size-small {font-size: 15px;}.elementor-widget-heading .elementor-heading-title.elementor-size-medium {font-size: 19px;}.elementor-widget-heading .elementor-heading-title.elementor-size-large {font-size: 29px;}.elementor-widget-heading .elementor-heading-title.elementor-size-xl {font-size: 39px;}.elementor-widget-heading .elementor-heading-title.elementor-size-xxl {font-size: 59px;}</style>
        <h3 class="elementor-heading-title elementor-size-default">
            Ringkasan
        </h3>
    </div>
</div>
<div class="elementor-element elementor-element-11773c6 elementor-widget elementor-widget-text-editor" data-id="11773c6"
    data-element_type="widget" data-widget_type="text-editor.default">
    <div class="elementor-widget-container">
        <style> .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {background-color: #69727d;color: #fff;}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {color: #69727d;border: 3px solid;background-color: transparent;}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {margin-top: 8px;}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {width: 1em;height: 1em;}.elementor-widget-text-editor .elementor-drop-cap {float: left;text-align: center;line-height: 1;font-size: 50px;}.elementor-widget-text-editor .elementor-drop-cap-letter {display: inline-block;}</style>
        <div class="elementor-element elementor-element-1f355dd elementor-widget__width-inherit elementor-widget elementor-widget-text-editor"
            data-id="1f355dd" data-element_type="widget" data-widget_type="text-editor.default">
            <div class="elementor-element elementor-element-3bdd18e elementor-widget__width-inherit elementor-widget-tablet__width-initial elementor-widget-mobile__width-inherit elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                data-id="3bdd18e" data-element_type="widget" data-widget_type="icon-list.default">
                <div class="elementor-widget-container">
                    <link rel="stylesheet" href="static/assets/plugin/elementor/assets/css/widget-icon-list.min.css"  />
                    <ul class="elementor-icon-list-items">
                        <li class="elementor-icon-list-item">
                                <span class="elementor-icon-list-icon">
                                    <i aria-hidden="true" class="jki jki-check-light"></i>
                                </span>
                                <span class="elementor-icon-list-text" style="color: #112E10C2;">Pada tanaman
                                    yang sudah
                                    dewasa, terjadi bercak nekrotik yang berbentuk
                                    melingkar dan memiliki warna coklat dengan pusat
                                    berwarna abu-abu hingga putih, sementara tepi
                                    bercak menunjukkan warna kemerahan.</span>
                        </li>
                        <li class="elementor-icon-list-item">
                                <span class="elementor-icon-list-icon">
                                    <i aria-hidden="true" class="jki jki-check-light"></i>
                                </span>
                                <span class="elementor-icon-list-text" style="color: #112E10C2;">Terdapat
                                    perubahan
                                    pada warna batang dan daun, di mana keduanya menguning dan
                                    mengalami
                                    kelayuan.</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>