<link rel="stylesheet" id="elementor-post-1505-css" href="static/assets/css/post-150547a0.css" media="all" />
<link rel="stylesheet" id="elementor-post-1037-css" href="static/assets/css/post-103775b6.css" media="all" />
<script src="static/assets/dist/themes/hello-elementor/assets/js/hello-frontend.min8a54.js"
    id="hello-theme-frontend-js"></script>
<script src="static/assets/plugin/elementor/assets/js/webpack.runtime.minafc7.js"
    id="elementor-webpack-runtime-js"></script>
<script src="static/assets/plugin/elementor/assets/js/frontend-modules.minafc7.js"
    id="elementor-frontend-modules-js"></script>
<script src="static/assets/js/jquery/ui/core.min3f14.js" id="jquery-ui-core-js"></script>
<script id="elementor-frontend-js-before">
    var elementorFrontendConfig = {
        environmentMode: {
            edit: false,
            wpPreview: false,
            isScriptDebug: false,
        },
        i18n: {
            shareOnFacebook: "Share on Facebook",
            shareOnTwitter: "Share on Twitter",
            pinIt: "Pin it",
            download: "Download",
            downloadImage: "Download image",
            fullscreen: "Fullscreen",
            zoom: "Zoom",
            share: "Share",
            playVideo: "Play Video",
            previous: "Previous",
            next: "Next",
            close: "Close",
            a11yCarouselWrapperAriaLabel:
                "Carousel | Horizontal scrolling: Arrow Left & Right",
            a11yCarouselPrevSlideMessage: "Previous slide",
            a11yCarouselNextSlideMessage: "Next slide",
            a11yCarouselFirstSlideMessage: "This is the first slide",
            a11yCarouselLastSlideMessage: "This is the last slide",
            a11yCarouselPaginationBulletMessage: "Go to slide",
        },
        is_rtl: false,
        breakpoints: {
            xs: 0,
            sm: 480,
            md: 768,
            lg: 1025,
            xl: 1440,
            xxl: 1600,
        },
        responsive: {
            breakpoints: {
                mobile: {
                    label: "Mobile Portrait",
                    value: 767,
                    default_value: 767,
                    direction: "max",
                    is_enabled: true,
                },
                mobile_extra: {
                    label: "Mobile Landscape",
                    value: 880,
                    default_value: 880,
                    direction: "max",
                    is_enabled: false,
                },
                tablet: {
                    label: "Tablet Portrait",
                    value: 1024,
                    default_value: 1024,
                    direction: "max",
                    is_enabled: true,
                },
                tablet_extra: {
                    label: "Tablet Landscape",
                    value: 1200,
                    default_value: 1200,
                    direction: "max",
                    is_enabled: false,
                },
                laptop: {
                    label: "Laptop",
                    value: 1366,
                    default_value: 1366,
                    direction: "max",
                    is_enabled: false,
                },
                widescreen: {
                    label: "Widescreen",
                    value: 2400,
                    default_value: 2400,
                    direction: "min",
                    is_enabled: false,
                },
            },
        },
        version: "3.16.4",
        is_static: false,
        experimentalFeatures: {
            e_dom_optimization: true,
            e_optimized_assets_loading: true,
            e_optimized_css_loading: true,
            additional_custom_breakpoints: true,
            container: true,
            e_swiper_latest: true,
            "hello-theme-header-footer": true,
            "landing-pages": true,
            e_global_styleguide: true,
        },
        urls: {
            assets:
                "https:\/\/templatekit.jegtheme.com\/SIKAPADI\/wp-content\/plugins\/elementor\/assets\/",
        },
        swiperClass: "swiper",
        settings: {
            page: [],
            editorPreferences: [],
        },
        kit: {
            active_breakpoints: ["viewport_mobile", "viewport_tablet"],
            global_image_lightbox: "yes",
            lightbox_enable_counter: "yes",
            lightbox_enable_fullscreen: "yes",
            lightbox_enable_zoom: "yes",
            lightbox_enable_share: "yes",
            lightbox_title_src: "title",
            lightbox_description_src: "description",
            hello_header_logo_type: "title",
            hello_header_menu_layout: "horizontal",
            hello_footer_logo_type: "logo",
        },
        post: {
            id: 1286,
            title: "Blog%20%E2%80%93%20SIKAPADI",
            excerpt: "",
            featuredImage: false,
        },
    };
</script>
<script src="static/assets/plugin/elementor/assets/js/frontend.minafc7.js" id="elementor-frontend-js"></script>
<script id="elementor-frontend-js-after">
    var jkit_ajax_url =
        "assets/indexe2f2.html?jkit-ajax-request=jkit_elements",
        jkit_nonce = "87391e2e07";
</script>
<script src="static/assets/plugin/jeg-elementor-kit/assets/js/elements/sticky-element61da.js"
    id="jkit-sticky-element-js"></script>
<script src="static/assets/plugin/jeg-elementor-kit/assets/js/elements/nav-menu61da.js"
    id="jkit-element-navmenu-js"></script>
<script src="static/assets/plugin/jeg-elementor-kit/assets/js/elements/post-pagination61da.js"
    id="jkit-element-pagination-js"></script>