<div class="elementor-element elementor-element-3afa83e elementor-widget elementor-widget-heading" data-id="3afa83e"
    data-element_type="widget" data-widget_type="heading.default">
    <div class="elementor-widget-container">
        <h4 class="elementor-heading-title elementor-size-default">
            Gejala :
        </h4>
    </div>
</div>
<div class="elementor-element elementor-element-0960c9d elementor-widget elementor-widget-text-editor" data-id="0960c9d"
    data-element_type="widget" data-widget_type="text-editor.default">
    <div class="elementor-widget-container">
        <p>
            Penyakit pada tanaman padi memiliki gejala yang bervariasi:</br>
            - Pada bibit padi, daun terinfeksi berubah warna menjadi kuning hingga jerami, kemudian layu dan mati.</br>
            - Pada tanaman dewasa, gejala utama muncul dari tunas hingga pembentukan malai, dengan garis-garis hijau
            muda hingga keabu-abuan yang berair pada daun, yang kemudian bersatu membentuk luka dengan tepian tidak
            rata.</br>
            - Daun secara perlahan menguning, layu, dan akhirnya mati.</br>
            - Pada tahap akhir infeksi, cairan bakteri mirip susu menetes dari daun, membentuk tetesan yang mengering
            dan meninggalkan kerak putih.</br>
            - Karakteristik ini membantu membedakan penyakit ini dari kerusakan yang diakibatkan oleh beberapa hama
            penggerek batang.</br>
            - Hawar bakteri, sebagai salah satu penyakit paling serius pada padi, menunjukkan dampak yang signifikan
            pada tanaman tersebut.
        </p>
    </div>
</div>