<div class="elementor-element elementor-element-6364516 elementor-widget elementor-widget-heading" data-id="6364516"
    data-element_type="widget" data-widget_type="heading.default">
    <div class="elementor-widget-container">
        <h4 class="elementor-heading-title elementor-size-default">
            Tindakan untuk Pencegahan :
        </h4>
    </div>
</div>
<div class="elementor-element elementor-element-b4aa0f3 elementor-widget elementor-widget-text-editor" data-id="b4aa0f3"
    data-element_type="widget" data-widget_type="text-editor.default">
    <div class="elementor-widget-container">
        <li class="elementor-icon-list-item">
            <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="jki jki-check-light"></i>
            </span>
            <span class="elementor-icon-list-text" style="color: #112E10C2;">Hanya menggunakan benih
                yang sehat
                dan berasal dari sumber yang bersertifikat, jika
                memungkinkan.</span>
        </li>
        <li class="elementor-icon-list-item">
            <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="jki jki-check-light"></i>
            </span>
            <span class="elementor-icon-list-text" style="color: #112E10C2;">Pilih varietas padi
                yang memiliki
                ketahanan terhadap penyakit, karena ini merupakan cara yang
                efisien, dapat diandalkan, dan ekonomis untuk mengendalikan
                penyakit.</span>
        </li>
        <li class="elementor-icon-list-item">
            <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="jki jki-check-light"></i>
            </span>
            <span class="elementor-icon-list-text" style="color: #112E10C2;">Handle bibit dengan
                hati-hati saat
                penanaman atau pemindahan.</span>
        </li>
        <li class="elementor-icon-list-item">
            <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="jki jki-check-light"></i>
            </span>
            <span class="elementor-icon-list-text" style="color: #112E10C2;">Pastikan drainase di
                lahan dan
                persemaian berada dalam kondisi baik untuk menghindari
                kontaminasi silang.</span>
        </li>
        <li class="elementor-icon-list-item">
            <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="jki jki-check-light"></i>
            </span>
            <span class="elementor-icon-list-text" style="color: #112E10C2;">Atur pemberian pupuk
                nitrogen agar
                tidak berlebihan, dan lakukan pemberian secara bertahap
                selama musim tanam.</span>
        </li>
        <li class="elementor-icon-list-item">
            <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="jki jki-check-light"></i>
            </span>
            <span class="elementor-icon-list-text" style="color: #112E10C2;">Berikan dosis tambahan
                kalium
                bersama dengan dosis nitrogen terakhir saat kondisi cuaca
                mendukung.</span>
        </li>
        <li class="elementor-icon-list-item">
            <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="jki jki-check-light"></i>
            </span>
            <span class="elementor-icon-list-text" style="color: #112E10C2;">Hindari penggunaan
                nitrogen dalam
                bentuk urea.</span>
        </li>
        <li class="elementor-icon-list-item">
            <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="jki jki-check-light"></i>
            </span>
            <span class="elementor-icon-list-text" style="color: #112E10C2;">Singkirkan dan
                musnahkan gulma
                serta inang alternatif dari saluran air dan lingkungan
                sekitar.</span>
        </li>
        <li class="elementor-icon-list-item">
            <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="jki jki-check-light"></i>
            </span>
            <span class="elementor-icon-list-text" style="color: #112E10C2;">Bajak tunggul padi,
                jerami,
                tanaman liar, dan bibit yang dapat menjadi inang bagi
                bakteri agar terkubur.</span>
        </li>
        <li class="elementor-icon-list-item">
            <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="jki jki-check-light"></i>
            </span>
            <span class="elementor-icon-list-text" style="color: #112E10C2;">Biarkan lahan mengering
                di antara
                musim tanam untuk menekan perantara penyakit di tanah dan
                sisa-sisa tanaman. Dengan mengikuti langkah-langkah ini,
                dapat membantu mengurangi potensi infeksi dan penyebaran
                penyakit hawar daun bakteri.</span>
        </li>
    </div>
</div>