<div class="elementor-element elementor-element-3afa83e elementor-widget elementor-widget-heading" data-id="3afa83e"
    data-element_type="widget" data-widget_type="heading.default">
    <div class="elementor-widget-container">
        <h4 class="elementor-heading-title elementor-size-default">
            Rekomendasi Pengendalian :
        </h4>
    </div>
</div>
<div class="elementor-element elementor-element-0960c9d elementor-widget elementor-widget-text-editor" data-id="0960c9d"
    data-element_type="widget" data-widget_type="text-editor.default">
    <div class="elementor-widget-container">
        <p>
            <li class="elementor-icon-list-item">
                <span class="elementor-icon-list-text" style="color: #112E10C2;"><strong>A. Pengendalian
                        Hayati :</strong><br />
                    - Penanaman varietas tahan,</br>
                    - Pemupukan lengkap</br>
                    - Pengaturan air</br>
                    - Tanama varietas tahan</br>
                    - Pupuk NPK dalam dosis yang tepat</br>
                    - Hindari penggenangan air</br>
                </span>
            </li>
            <br />
            <li class="elementor-icon-list-item">
                <span class="elementor-icon-list-text" style="color: #112E10C2;"><strong>B. Pengendalian
                        Kimiawi :</strong><br />
                    - Pendekatan terpadu disarankan untuk pengendalian hawar daun bakteri pada padi, termasuk tindakan
                    pencegahan dan perlakuan hayati jika tersedia.</br>
                    - Rekomendasi termasuk perlakuan benih dengan antibiotik resmi, ditambah dengan tembaga oksiklorida
                    atau tembaga sulfat.</br>
                    - Dengan fungisida berbahan aktif tembaga hidroksida misalnya nordox atau kocide</br>
                    - Perlu dicatat bahwa penggunaan antibiotik sering kali terbatas di beberapa negara.</br>
                    - Disarankan untuk mencari informasi mengenai langkah-langkah penanganan yang berlaku di negara Anda
                    untuk memastikan kepatuhan dan efektivitas pengendalian kimiawi yang diterapkan.</br>
                </span>
            </li>
        </p>
    </div>
</div>