<div class="elementor-element elementor-element-6364516 elementor-widget elementor-widget-heading" data-id="6364516"
    data-element_type="widget" data-widget_type="heading.default">
    <div class="elementor-widget-container">
        <h4 class="elementor-heading-title elementor-size-default">
            Apa penyebabnya?
        </h4>
    </div>
</div>
<div class="elementor-element elementor-element-b4aa0f3 elementor-widget elementor-widget-text-editor" data-id="b4aa0f3"
    data-element_type="widget" data-widget_type="text-editor.default">
    <div class="elementor-widget-container">
        Gejala penyakit disebabkan oleh bakteri Xanthomonas oryzae pv. oryzae, yang menyebar melalui angin, air hujan, atau irigasi. Cuaca buruk dengan curah hujan tinggi dan kelembaban di atas 70%, serta suhu antara 25°C hingga 34°C, mendukung penyebaran penyakit. Faktor lain termasuk pemupukan nitrogen tinggi, penanaman rapat, terutama pada varietas tanaman yang rentan, khususnya di daerah beriklim tropis dan sedang, terutama dataran rendah yang menerima irigasi atau hujan. Penyakit ini dapat menyebabkan kerugian panen signifikan, terutama jika infeksi terjadi pada tahap awal pengembangan malai, menyebabkan kerusakan pada sebagian besar bulir padi.
    </div>
</div>