<div class="elementor-element elementor-element-1df5ea8 e-flex e-con-boxed e-con e-parent" data-id="1df5ea8" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
    <div class="e-con-inner">
        <div class="elementor-element elementor-element-1b10025 e-con-full e-flex e-con e-child" data-id="1b10025" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;}">
            <div class="elementor-element elementor-element-8a1137a elementor-widget-tablet__width-initial elementor-widget__width-initial jkit-equal-height-disable elementor-widget elementor-widget-jkit_icon_box" data-id="8a1137a" data-element_type="widget" data-widget_type="jkit_icon_box.default">
                <div class="elementor-widget-container">
                    <div class="jeg-elementor-kit jkit-icon-box icon-position-top elementor-animation- jeg_module_1340_2_65596f42bbc9d">
                        <div class="jkit-icon-box-wrapper hover-from-left">
                            <div class="icon-box icon-box-header elementor-animation-">
                                <div class="icon style-color"><i aria-hidden="true"><img src="static/assets/images/icons/mail - Copy.png" alt="telephone Icon" style="height: 40px;width: 40px;"></i></div>
                            </div>
                            <div class="icon-box icon-box-body">
                                <h4 class="title">Email</h4>
                                <p class="icon-box-description">maulanafiqri42@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-e915c6f elementor-widget-tablet__width-initial elementor-widget__width-initial jkit-equal-height-disable elementor-widget elementor-widget-jkit_icon_box" data-id="e915c6f" data-element_type="widget" data-widget_type="jkit_icon_box.default">
                <div class="elementor-widget-container">
                    <div class="jeg-elementor-kit jkit-icon-box icon-position-top elementor-animation- jeg_module_1340_3_65596f42bc932">
                        <div class="jkit-icon-box-wrapper hover-from-left">
                            <div class="icon-box icon-box-header elementor-animation-">
                                <div class="icon style-color"><i aria-hidden="true"><img src="static/assets/images/icons/location - Copy.png" alt="telephone Icon" style="height: 40px;width: 40px;"></i></div>
                            </div>
                            <div class="icon-box icon-box-body">
                                <h4 class="title">Lokasi Kami</h4>
                                <p class="icon-box-description">Krajan, Penambangan, Semanding, Tuban Regency, East Java 62381</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-6331b60 elementor-widget-tablet__width-initial elementor-widget__width-initial jkit-equal-height-disable elementor-widget elementor-widget-jkit_icon_box" data-id="6331b60" data-element_type="widget" data-widget_type="jkit_icon_box.default">
                <div class="elementor-widget-container">
                    <div class="jeg-elementor-kit jkit-icon-box icon-position-top elementor-animation- jeg_module_1340_4_65596f42bd5f6">
                        <div class="jkit-icon-box-wrapper hover-from-left">
                            <div class="icon-box icon-box-header elementor-animation-">
                                <div class="icon style-color"><i aria-hidden="true"><img src="static/assets/images/icons/telephone - Copy.png" alt="telephone Icon" style="height: 40px;width: 40px;"></i></div>
                            </div>
                            <div class="icon-box icon-box-body">
                                <h4 class="title">Telepon</h4>
                                <p class="icon-box-description">+62 89562755 2055</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>